/.settings
/.buildpath
/.project
/tests/TestConfiguration.php
!*.gitadd
!*.gitkeep
/vendor
/composer.lock
/build
/vendors/jquery/src
/vendors/fontawesome/less
/vendors/fontawesome/scss
/vendors/moment/benchmarks
/vendors/moment/meteor
/vendors/moment/scripts
/vendors/moment/src
/vendors/moment/templates
/vendors/chosen/docsupport
/vendors/chosen/*.html
/vendors/bootstrap/grunt
/vendors/bootstrap/less

/vendors/node_modules
