<phpunit bootstrap="./bootstrap.php" colors="true">
    <logging>
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
    </logging>
    <filter>
        <blacklist>
            <directory suffix=".php">../vendor</directory>
            <directory suffix=".php">.</directory>
        </blacklist>
    </filter>
    <testsuites>
        <testsuite name="LosUi Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
</phpunit>
